/* .logo{
    width: 10px;
    height: 80px;
} */
.logo img {
    width: 50%;
    height: 100%;
}

.search{
    /* border: 2px solid red; */
    padding: 3px;
    
}

.search input{
    height: 30px;
    margin: 2px;
    
}

.png{
    text-align: center;
}